<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Face Recognition Display</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>

    <div class="image-container" id="refContainer">
        <img id="refImage" src="{{ url_for('static', filename='images/model_1.jpg') }}" alt="Reference Image">
        <canvas id="refCanvas"></canvas>
    </div>

    <div class="image-container" id="identContainer">
        <img id="identImage" src="{{ url_for('static', filename='images/model_2.jpg') }}" alt="Identified Image">
        <canvas id="identCanvas"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">

        var refData = {{ ref_data | tojson }};
        var identData = {{ ident_data | tojson }};

        drawFaceData('refCanvas', 'refImage', refData);
        drawFaceData('identCanvas', 'identImage', identData);

    </script>

    </body>
</html>
